/* For variables unique to this project.
    General variables can be found in _variables.scss.
    */
$primary-blue:  #2196f3;
$material-blue: #3f51b5;
$light-grey:    #cccccc;
$dark-grey:     #999999;
