<div>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                </div>
               <input type="text" class="form-control" placeholder="search anime" ng-model="filterConfig.search[filterConfig.selectListOptions.searchName]">
           </div>
            <div class="input-group mt">
                <div class="input-group-addon clickable" clear-tag-values>
                    <i class="fa fa-tags"></i>
                </div>
               <input type="text" class="form-control" placeholder="search tags - tag1,tag2.." ng-model="characterTags" typeahead="stat.tag for stat in filterConfig.statTags | filter: $viewValue" typeahead-on-select="passTag(characterTags); characterTags = ''"><!--  -->
           </div>
            <div class="input-group mt search-tag-list-container" ng-hide="filterConfig.searchTags===undefined || filterConfig.searchTags==='' || filterConfig.searchTags===null">
               <ul class="tag-list col-lg-12 col-md-12">
                    <li class="tag-bubble col-lg-12 col-md-12" ng-repeat="tag in filterConfig.tagsForFilter track by $index">
                        {{tag}}
                        <a class="bin-style clickable pull-right" aria-hidden="true" delete-search-tag="{{tag}}"><i class="fa fa-trash-o"></i></a>
                    </li>
                </ul>
           </div>
            <div class="input-group mt">
              <div class="input-group-addon">
                  <i class="fa fa-list-ol"></i>
              </div>
              <input type="text" class="form-control" value="Showing {{ (filterConfig.showingCount = (items | filter: filterConfig.search | mediaFilter: filterConfig.media | ratingFilter: filterConfig.ratingLevel | tagFilter: filterConfig.searchTags:filterConfig.taglessItem).length) }} items." disabled>
            </div>
            <div class="input-group mt" ng-hide="$parent.isList === 'slider'">
              <div class="input-group-addon">
                  <i class="fa fa-sort"></i>
              </div>
                <select class="form-control" 
                        ng-model="filterConfig.sortType" 
                        ng-init="filterConfig.sortType = filterConfig.selectListOptions.sortOptions[filterConfig.selectListOptions.sortOption].v" 
                        ng-options="so.v as so.n for so in filterConfig.selectListOptions.sortOptions">
                </select>
            </div>
            <div class="input-group mt clickable" ng-hide="$parent.isList === 'slider'" ng-click="filterConfig.sortReverse = !filterConfig.sortReverse">
              <div class="input-group-addon">
                  <i class="fa" ng-class="sortReverse ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc' "></i>
              </div>
                <input type="text" class="form-control" value="Ascending" ng-show="!filterConfig.sortReverse" disabled>
                <input type="text" class="form-control" value="Descending" ng-show="filterConfig.sortReverse" disabled>
            </div>
            <div class="input-group mt" ng-if="page !== 'character'">
              <div class="input-group-addon">
                  <i class="fa fa-check"></i>
              </div>
                <select class="form-control" ng-model="filterConfig.search.status" ng-init="filterConfig.search.status = false" ng-options="so.v as so.n for so in filterConfig.selectListOptions.status">
                </select>
            </div>
            <div class="input-group mt" ng-if="page !== 'character'">
              <div class="input-group-addon">
                  <i class="glyphicon" ng-class="{'glyphicon-cd' : filterConfig.selectListOptions.mediaType === 'disc', 'glyphicon-book' : filterConfig.selectListOptions.mediaType === 'hardcopy'}"></i>
              </div>
                <select class="form-control" 
                        ng-model="filterConfig.search[filterConfig.selectListOptions.mediaType]"
                        ng-init="filterConfig.search[filterConfig.selectListOptions.mediaType] = ''"
                        ng-options="so.v as so.n for so in filterConfig.selectListOptions.media">
                </select>
            </div>
            <div class="input-group mt" ng-if="page !== 'character'">
              <div class="input-group-addon">
                  <i class="fa fa-repeat"></i>
              </div>
                <select class="form-control" 
                        ng-model="filterConfig.search[filterConfig.selectListOptions.repeatType]" 
                        ng-init="filterConfig.search[filterConfig.selectListOptions.repeatType] = ''" 
                        ng-options="so.v as so.n for so in filterConfig.selectListOptions.repeating">
                </select>
            </div>
            <div class="input-group mt" ng-if="page !== 'character'">
                <div class="input-group-addon clickable" data-ng-click="filterConfig.ratingLevel=undefined">
                    <i class="fa fa-star"></i>
                </div>
                   <rating class="form-control rating-stars clickable" ng-model="filterConfig.ratingLevel" readonly="false" max="filterConfig.ratingActions.maxRating" on-hover="hoveringOver(value)" on-leave="filterConfig.ratingActions.overStar = null" id="rating" name="rating"></rating>
                <div class="input-group-addon">
                    <span data-ng-show="filterConfig.ratingActions.overStar!=null" 
                          class="label rating-label" 
                          ng-class="{'label-warning': filterConfig.ratingActions.percent<40, 'label-info': filterConfig.ratingActions.percent>=30 && filterConfig.ratingActions.percent<70, 'label-success': filterConfig.ratingActions.percent>=70}">{{filterConfig.ratingActions.percent}}%</span>
                </div>
            </div>
            <div class="input-group mt" ng-if="page === 'character'">
              <div class="input-group-addon">
                  <i class="fa fa-book"></i>
              </div>
                <select class="form-control" ng-model="filterConfig.media" ng-init="filterConfig.media = ''" ng-options="so.v as so.n for so in filterConfig.selectListOptions.media">
                </select>
            </div>
            <div class="input-group mt" ng-if="page === 'character'">
                <div class="input-group-addon">
                    <i class="fa fa-microphone"></i>
                </div>
                <input type="text" class="form-control" placeholder="search voice" ng-model="filterConfig.search.voice" typeahead="voice.name for voice in filterConfig.voiceActors | filter: $viewValue "><!-- -->
            </div>
            <div class="input-group mt" data-ng-show="filterConfig.areTagless">
            <div class="input-group-addon">
                <span class="fa-stack fa-md">
                    <i class="fa fa-tag fa-stack-1x"></i>
                    <i class="fa fa-ban fa-stack-2x text-danger"></i>
                </span>
            </div>
            <input class="form-control" type="checkbox" data-ng-model="filterConfig.taglessItem">
        </div>
</div>




            