<ul class="slider" ng-mouseenter="enter()" ng-mouseleave="leave()">
    <li class="slide" 
        ng-repeat="slide in (filteredSlides =  (slides | filter: search | mediaFilter: media | tagFilter: searchTags:taglessItem))"
        ng-show="slide.visible"
        ng-if="repeater">
        <a href="/#!/characters/{{slide._id}}">
            <img class="slide-image" ng-src="{{trustAsResourceUrl(slide.image)}}">
            <div class="slide-caption">
                <span class="dark-bordered-font-heading">{{slide.name}}</span>
            </div>
        </a>
    </li>
    <a class="left slider-control clickable" ng-click="prev()" ng-show="filteredSlides.length > 1"><span class="fa fa-chevron-left"></span></a>
    <a class="right slider-control clickable" ng-click="next()" ng-show="filteredSlides.length > 1"><span class="fa fa-chevron-right"></span></a>
    <ul class="slider-indicators">
        <li ng-repeat="slide in slides | filter: search | mediaFilter: media | tagFilter: searchTags:taglessItem" 
            ng-click="goToSlide($index)" 
            class="indicator" 
            ng-class="{ 'active' : slide.visible, 'locked' : slide.locked }">
        </li>
    </ul>
</ul>